.column {
    float: left;
    height: 40px;
    width: 40px;
    padding: 10px;
    border: 2px solid black;
}
.computerGrid {
    left: 5%;
    width: 800px;
    margin: 0 auto;
    margin-left: 50px;
}
#inputForm {
    width: 600px;
    padding: 10px;
}
body {
    overflow: scroll;
}