<!DOCTYPE html>
<html>
    <head>
        <title>UIUC VR Lab</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
        <script src="../static/scripts/commentSection.js"></script>
        <link rel="stylesheet" type="text/css" href="../static/style/commentSection.css"  />
        <script>
                function filterComments(){
                    var MachineID = document.getElementById("MachineId").value;
                    var NetId = document.getElementById("NetId").value;
                    var status = document.getElementById("status");
                    var resolution = status.options[status.selectedIndex].value;
                    var DownageCategory = document.getElementById("DownageCategory").value;
                    var CommentText = document.getElementById("CommentText").value;
                    var data = {};
                    if(NetId != "" && NetId != null){
                        data['AuthorNetID'] = NetId;
                    }
                    if(MachineId != "" && MachineId != null && MachineID != 0){
                        data['MachineID'] = Number(MachineID);
                    }
                    if (resolution < 2){
                        data['IsResolved'] = Number(resolution);
                    }
                    if(DownageCategory != "" && DownageCategory != null){
                        data['Category'] = DownageCategory;
                    }

                    if(CommentText != "" && CommentText != null){
                        data['CommentText'] = CommentText;
                    }

                    displayComments(data, "{{netId}}");
                }
                $(document).ready(displayComments({}, "{{netId}}"));             
        </script>
    </head>
    <body>
        <div class="topBanner">
            <img style="display: inline; margin-right: 10px" width="29px;" height="45px;" src="./static/images/blockLogo.png" alt="block I Logo">
            <a href="http://teamrocket.web.illinois.edu/home" style="font-weight: bold; font-size: 40; display: inline; padding-top: 2px">VR Lab Availability</a>
            <div  style="float: right;">
                <p style="font-weight: bold;">Logged in as {{netId}}</p>
                <a class="btn btn-link" style="fontWeight: bold; color: orange; padding-top: 0px; margin-top: 0px;" href="{{url_for('logout')}}">Logout</a>
            </div>
        </div>
        <div class="filterParams">
            <h1 id="commentTitle"> Comment Section </h1>
            <div>
                <h3>Filter Comments By:</h3>
                <div class="filterBlock">
                    <label for="MachineId">MachineID:</label>
                    <input  id="MachineId" class="form-control filterInput" name="MachineId" value="">
                </div>
                <div class="filterBlock">
                    <label for="NetId">Author:</label>
                    <input type="text" class="form-control filterInput" id="NetId" name="NetId">
                </div>
                <div class="filterBlock">
                    <label for="NetId">Status:</label>
                    <select class="filterInput" id="status" name="isResolved">
                        <option value="2">Either</option>
                        <option value="0">Not Resolved</option>
                        <option value="1">Resolved</option>
                    </select>
                </div>
                <div class="filterBlock">
                    <label for="CommentText">Comment Contains Text:</label>
                    <input type="text" class="form-control filterInput" id="CommentText" name="CommentText">
                </div>
                <div class="filterBlock">
                    <label for="DownageCategory">Category Contains Text:</label>
                    <input type="text" class="form-control filterInput" id="DownageCategory" name="DownageCategory">
                </div>
                <br/>
                <button id="createComment" type="button" style="margin: 5px;" onclick="filterComments()" class="btn btn-default" value="Submit">Filter</button>
            </div>
        </div>
        <div id="commentList">

       </div>
    </body>
</html>
