<!DOCTYPE html>
<html>
    <head>
        <title>UIUC VR Lab</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
	<!-- TODO: Use absolute URLs instead of ../../ relative paths -->
	<script src="../../static/scripts/editComment.js"></script>
        <link rel="stylesheet" type="text/css" href="../../static/style/editComment.css"/>
        <script>
            $(document).ready(function () {
                $.ajax({
                    method: "GET",
                    url: "http://teamrocket.web.illinois.edu/project/comment/{{ commentId }}",
                    dataType: "json",
                    crossDomain: true,
                    success: function(result) {
                        document.getElementById("commentId").value = result["CommentID"];
                        document.getElementById("Computer Chosen").innerHTML = "Update comment on PC#" + result["MachineID"];
                        document.getElementById("NetId").value = result["AuthorNetID"];
                        document.getElementById("HardwareId").value = result["HardwareID"];
                        document.getElementById("comment").value = result["CommentText"];  
			if (result["IsResolved"] == 1){
			    document.getElementById("isResolved").checked = true;
			}
			// TODO: category is checked
                    },
                    error: function(xhr, status, error) {
                        console.log(xhr);
                        console.log(error);
                      }
                });
            
            });
        </script>
    </head>
    <body>
        <div class="topBanner">
            <img style="display: inline; margin-right: 10px" width="29px;" height="45px;" src="../../static/images/blockLogo.png" alt="block I Logo">
            <h1 style="display: inline; padding-top: 2px">VR Lab Availability</h1>
            <div style="float: right;">
                <p style="font-weight: bold;">Logged in as {{netId}}</p>
                <a class="btn btn-link" style="fontWeight: bold; color: orange; padding-top: 0px; margin-top: 0px;" href="{{url_for('logout')}}">Logout</a>
            </div>
        </div>  
        <h1 id="Computer Chosen">Update comment on PC #<span id="MachineId"></span></h1>
            <div id="inputForm">
                <form id="commentForm" action="/testURL">
                    <div class="form-group">
                            <input type="hidden" id="commentId" name="commentId" value="">
                            <!-- <label for="MachineId">MachineId:</label>
                            <input type="text" class="form-control" id="MachineId" name="MachineId" value="asdfasdf">
			    -->
                            <label for="NetId">NetId:</label>
                            <input type="text" class="form-control" id="NetId" name="NetId">
                            <label for="HardwareId">HardwareId(Optional):</label>
                            <input type="text" class="form-control" id="HardwareId" name="HardwareId">
                            <div id="categoryChecks">
                                <label class="checkbox-inline" style="margin: 5px;"><input type="radio" name="Category" value="Machine Problem">Machine Problem</label>
                                <label class="checkbox-inline" style="margin: 5px;"><input type="radio" name="Category" value="Hardware Problem">Hardware Problem</label>
                                <label class="checkbox-inline" style="margin: 5px;"><input type="radio" name="Category" value="Software Problem">Sofware Problem</label>
                                <p></p>
                            </div>
                            <label for="comment">Comment:</label>
                            <textarea class="form-control" rows="5" id="comment" name="Comment"></textarea>
                            <label class="checkbox-inline" style="margin: 5px;"><input type="checkbox" id="isResolved" name="resolved">Issue resolved?</label>
                            <button type="button" style="margin: 5px;" onclick="updateComment()" class="btn btn-info">Update Comment</button>
                            <button type="button" style="margin: 5px;" onclick="deleteComment()" class="btn btn-danger">Delete Comment</button>
                    </div>
                </form>
            </div>
        </div>
    </body>
</html>
