<!DOCTYPE html>
<html>
    <head>
        <title>UIUC VR Lab</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
        <script src="https://cdn.rawgit.com/konvajs/konva/0.9.0/konva.js"></script>
        <script src="../static/scripts/mainView.js"></script>
        <link rel="stylesheet" type="text/css" href="../static/style/mainView.css"  />
        <script>
                function sendComment(){
                    var MachineID = Number(document.getElementById("MachineId").value);
                    var HardwareID = document.getElementById("HardwareId").value;
                    var NetId = document.getElementById("NetId").value;
                    var options = document.getElementById("categoryChecks");
                    var Category = e.options[e.selectedIndex].value;
                    var CommentText = document.getElementById("Comment").value;
                    var data = {};
                    data['AuthorNetID'] = NetId;
                    data['MachineID'] = MachineID;
                    data['CommentText'] = CommentText;
                    data['Category'] = Category;
                    if (HardwareID) {
                        data['HardwareID'] = Number(HardwareID);
                    }
                            $.ajax({
                                method: "POST",
                                url: 'http://teamrocket.web.illinois.edu/project/comment/insert',
                                dataType: 'json',
                                data: JSON.stringify(data),
                                contentType: "application/json"
                            }).then(function(result) {
                                alert("Successfully added comment!");
                            }).catch(function(err){
                                console.log(err);
                            });
                }
                $(document).ready(displayComments({}, '{{netId}}'));
                $(document).ready(getCategories());
        </script>

    </head>
    <body>
        <div class="topBanner">
            <img style="display: inline; margin-right: 10px" width="29px;" height="45px;" src="./static/images/blockLogo.png" alt="block I Logo">
            <h1 style="display: inline; padding-top: 2px">VR Lab Availability</h1>
            <div  style="float: right;">
                <p style="font-weight: bold;">Logged in as {{netId}}</p>
                <a class="btn btn-link" style="fontWeight: bold; color: orange; padding-top: 0px; margin-top: 0px;" href="{{url_for('logout')}}">Logout</a>
            </div>
        </div>
    <div class="left-content">
        <h1 style="margin-left: 35px;">Machine Layout</h1>
        <div id="computerGrid"></div>
        <script>
          var width = 500;
          var height = 250;
          var shadowOffset = 20;
          var tween = null;
          var blockSnapSize = 50;

          var shadowRectangle = new Konva.Rect({
          x: 0,
          y: 0,
          width: blockSnapSize * 1,
          height: blockSnapSize * 1,
          fill: '#FF7B17',
          opacity: 0.6,
          stroke: '#CF6412',
          strokeWidth: 3,
          dash: [20, 2]
          });

          function newRectangle(x, y, layer, stage, status, machineID) {
          let color;
          if (status === 'BROKEN'){
            color = 'red';
          }
          else{
            color = 'green';
          }
          let rectangle = new Konva.Rect({
            x: x,
            y: y,
            width: blockSnapSize * 1,
            height: blockSnapSize * 1,
            fill: color,
            stroke: '#ddd',
            strokeWidth: 1,
            shadowColor: 'black',
            shadowBlur: 2,
            shadowOffset: {x : 1, y : 1},
            shadowOpacity: 0.4,
            draggable: true
          });
          rectangle.addName(machineID.toString());

          let tooltip;
          let movedTooltip;


          tooltip = new Konva.Text({
                text: "",
                fontFamily: "Calibri",
                fontSize: 12,
                padding: 5,
                textFill: "white",
                fill: "black",
                alpha: 0.75,
                visible: false
            });

          tooltip.position({
                    x : x,
                    y : y
                });

          tooltip.text(rectangle.name());
          tooltip.show();
          rectangle.on('click', function (e) {
            choosePC(machineID.toString());
          });

          rectangle.on('dragstart', (e) => {
            console.log("Moving Machine " + rectangle.name() + " From (" + rectangle.x() + ", " + rectangle.y() + ")");
            shadowRectangle.show();
            shadowRectangle.moveToTop();
            rectangle.moveToTop();
            tooltip.hide();
            if(movedTooltip){
                movedTooltip.hide();
            }
            stage.batchDraw();
          });
          rectangle.on('dragend', (e) => {

            rectangle.position({
              x: Math.round(rectangle.x() / blockSnapSize) * blockSnapSize,
              y: Math.round(rectangle.y() / blockSnapSize) * blockSnapSize
            });
            console.log("Moved Machine " + rectangle.name() + " To (" + rectangle.x() + ", " + rectangle.y() + ")");
            movedTooltip = new Konva.Text({
                  text: "",
                  fontFamily: "Calibri",
                  fontSize: 12,
                  padding: 5,
                  textFill: "white",
                  fill: "black",
                  alpha: 0.75,
                  visible: false
              });

            movedTooltip.position({
                      x :  Math.round(rectangle.x() / blockSnapSize) * blockSnapSize,
                      y : Math.round(rectangle.y() / blockSnapSize) * blockSnapSize
                  });
            movedTooltip.text(rectangle.name());
            movedTooltip.show()
            stage.batchDraw();
            shadowRectangle.hide();
            layer.add(movedTooltip);
          });
          rectangle.on('dragmove', (e) => {
            shadowRectangle.position({
              x: Math.round(rectangle.x() / blockSnapSize) * blockSnapSize,
              y: Math.round(rectangle.y() / blockSnapSize) * blockSnapSize
            });
            stage.batchDraw();
          });


          layer.add(rectangle);
          layer.add(tooltip);
          }

          var stage = new Konva.Stage({
          container: 'computerGrid',
          width: width,
          height: height
          });

          var gridLayer = new Konva.Layer();
          var padding = blockSnapSize;
          for (var i = 0; i < width / padding; i++) {
          gridLayer.add(new Konva.Line({
            points: [Math.round(i * padding) + 0.5, 0, Math.round(i * padding) + 0.5, height],
            stroke: '#ddd',
            strokeWidth: 1,
          }));
          }

          gridLayer.add(new Konva.Line({points: [0,0,10,10]}));
          for (var j = 0; j < height / padding; j++) {
          gridLayer.add(new Konva.Line({
            points: [0, Math.round(j * padding), width, Math.round(j * padding)],
            stroke: '#ddd',
            strokeWidth: 0.5,
          }));
          }

          var layer = new Konva.Layer();
          shadowRectangle.hide();
          layer.add(shadowRectangle);

          $.ajax({
              method: "GET",
              url: 'http://teamrocket.web.illinois.edu/project/machine/availability',
              dataType: 'json',
              success: function(data,textStatus,xhr){
                  data.forEach(function (machine) {
                    let x_cord = machine['location']['x'];
                    let y_cord = machine['location']['y'];
                    let machineStatus = machine['MachineAvailability'];
                    let id = machine['MachineID'];
                    newRectangle(blockSnapSize * x_cord, blockSnapSize * y_cord, layer, stage, machineStatus,id);
                  });
                  stage.add(gridLayer);
                  stage.add(layer);
              }
          });

        </script>
        <div id="create_comment_section">
            <h1 id="Computer Chosen">Comment on PC</h1>
            <div id="inputForm">
                <form id="commentForm" action="/testURL">
                    <div class="form-group">
                            <label for="MachineId">MachineID:</label>
                            <input  id="MachineId" class="form-control" name="MachineId" value="">
                            <label for="NetId">NetId:</label>
                            <input type="text" class="form-control" id="NetId" name="NetId">
                            <label for="HardwareId">HardwareId(Optional):</label>
                            <input type="text" class="form-control" id="HardwareId" name="HardwareId">
                            <label for="categoryChecks">Category:</label>
                            <select class="form-control" id="categoryChecks">

                            </select>
                            <label for="Comment">Comment:</label>
                            <textarea class="form-control" rows="5" id="Comment" name="Comment"></textarea>                    </div>
                </form>
                <button id="createComment" type="button" style="margin: 5px;" onclick="sendComment()" class="btn btn-info" value="Submit">Submit</button>
            </div>
        </div>
    </div>
    <div class="right-content">
        <h2>Comments:</h2>
        <div id="commentList">

        </div>
        <a href="http://teamrocket.web.illinois.edu/comment" class="btn btn-primary viewComments"> View All Comments</a>
    </div>
    </body>

</html>
